Unidad_4/Actividad_4/ej1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="clase">
    <xs:complexType>
        <xs:element name="alumno" maxOccurs="unbounded" >
            <xs:complexType>
                <xs:attribute name="dni" type="xs:string"/>
                <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="apellidos" type="xs:string"/>
                    <xs:element name="nota" type="xs:decimal" fractionDigits="2"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:complexType>
</xs:element>
</xs:schema>