Unidad_4/Actividad_3/ej3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="agenda">
        <xs:complexType>
            <xs:element name="persona" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string" use="required"/>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="tlf" type="xs:integer"/>
                    </xs:sequence>
                <xs:complexType>
            <xs:element>
        <xs:complexType>
    <xs:element>
<xs:schema>